{% extends 'base.html.twig' %}

{% block title %}Choose one of yours before try to catch!{% endblock %}

{% block body %}
    <h1>Let's fight!</h1>
    <h2>{{ pokeForFighting.name }} against {{ pokemon.name }}</h2>
{% endblock %}
